body
{
   color: #0a0a0a;
   text-align: center;
   font-family: "Arial";
   font-size: 17px;
   margin: 0;
   padding: 0;
}
#cabecera
{
 background-color: rgb(26, 54, 218);
 box-shadow: 0px 2px 20px 0px rgba(0,0,0,0);
 color: white;
 font-weight: bold;
 margin: 0;
 padding: 7px 5cm;
 font-size: 0.5cm;
}
#cabecera #tagline
{
 padding: 0,0,0,1cm;
 font-weight: normal;
 font-size: 0.8cm;
}
#containes
{
  width: 70%;
  padding: 1cm;
  text-align: left;
  border: 1px solid #dddddd;
  margin: 0 auto;
}
#containes h1
{
  font-size: 25px;

}

